body{background-color: darksalmon;}
#cabecera{margin-bottom: 3%;}
#logo{
    float: left;
    width: 5%; 
    height: 5%;
}
@font-face{
    font-family: "ballpark";
    src: url("./fuentes/ballpark.ttf");
}
h1{
    font-family: ballpark;
    font-size: 280%;
}
#diario{
    margin-top: -16px;
}
