body{background-image: url(../multimedia/yellow_background.png);}
#cabecera{margin-bottom: 3%;}
#logo{
    float: left;
    width: 5%; 
    height: 5%;
}
#linea1{
    color: dimgray;
    border-color: dimgray;
}
@font-face{
    font-family: "ballpark";
    src: url("./fuentes/ballpark.ttf");
}
h1{
    font-family: ballpark;
    font-size: 280%;
}
#diario{
    margin-top: -16px;
}
@font-face{
    font-family: "dayrom";
    src: url(./fuentes/dayrom.ttf);
}
#home,#blog,#viajes,#contacto{
    font-family: "dayrom";
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 25%;
    margin-right: 2%;
}
#piramide{
    width: 100%;
    height: 380px;
    border-radius: 10px;
}
#articulo{
    margin-top: 2%;
}
#articulo1{
    width: 80%;
}
#pin{
    float: left;
    margin-right: 1%;
}
#pasion{
    font-family: "dayrom";
    font-size: 180%;
}
#tiempo{
    border: 2px solid dimgray;
    height: 530px;
    width: 17%;
    background-color:dimgray;
    float: right;
    padding-left: 1%;
    position: relative;
    bottom: 395px;
    border-radius: 1%;
}
#ttiempo{
    font-family: "dayrom";
    color: white;
}
#arrow{
    position: relative;
    left: 81%;
    bottom: 280px;
}
#facebook,#twitter,#vimeo,#flickr{
    margin-top: 5%;
}
#linea2{
    border-color: dimgray;
    color: dimgray;
    position: relative;
    top: 110px;
}
#top{
    position: relative; 
    left: 40%;
    top: 99px;
}
#tweet{
    position: relative; 
    top: 99px;
    
}
#ultimo,#amigos,#fotos{
    font-family: "dayrom";
}
#fotografias{
    position: relative; 
    left: 35%;
    bottom: 26px;
}
#mis{
    position: relative; 
    left: 70%;
    bottom: 116px;
}