body{background-color: darksalmon;}
#cabecera{margin-bottom: 3%;}
#logo{
    float: left;
    width: 5%; 
    height: 5%;
}
@font-face{
    font-family: "ballpark";
    src: url("./fuentes/ballpark.ttf");
}
h1{
    font-family: ballpark;
    font-size: 280%;
}
#diario{
    margin-top: -16px;
}
@font-face{
    font-family: "dayrom";
    src: url(./fuentes/dayrom.ttf);
}
#home,#blog,#viajes,#contacto{
    font-family: "dayrom";
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 25%;
    margin-right: 2%;
}
#piramide{
    width: 100%;
    height: 380px;
    border-radius: 10px;
}
